.top-navbar {
    font-size: small;
    color: rgb(183, 182, 182);
    width: 40vw;
    height: 1.4rem;
    background-color: black;
}

.top-navbar button {
    font-size: small;
    float: right;
    color: rgb(183, 182, 182);
    background-color: black;
}

.top-navbar button:hover {
    color: white;
}